projet_infographie/.vs/projet_infographie/v15/Browse.VC.opendb
projet_infographie/x64/Debug/
projet_infographie/Debug/
projet_infographie/.vs/
projet_infographie/projet_infographie.vcxproj
*.vcxproj
projet_infographie/projet_infographie.sln
